---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome">
	<main>
		<h1>Databases for Normal People</h1>
		<section>
			<p>
				Link to <a href="/chapters/1">Chapter 1</a>
			</p>
		</section>
	</main>
</Layout>